<ion-view view-title="Antisipasi Kehilangan" style="background-color:#E6F9FF;">
  <ion-content>
    <div class="card animated rubberBand">
        <div class="item item-text-wrap">
          <h3 class="has-subheader" style="color: #000; ">SEBELUM dan SESUDAH terjadi Kehilangan</h3>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Sebelum Terjadi Kehilangan
        </div>
        <div class="list-card">
          <ion-list>
          <ion-item>
              <div class="item">
                <h2>A. Pasang Alat Pelacak ini</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/sebelum/sebelum1.png">
                <p>
                  Taruh alat pelacak ini di kendaraan anda pada bagian tempat yang aman dah memungkinkan. Jangan lupa untuk menyalakan terlebih dahulu dengan menekan tombol dan colokan dengan baterai 9 volt. Jika baterai habis, segera ganti dengan baterai baru.  
                </p>
              </div>
            </ion-item>
            <ion-item>
              <div class="item">
                <h2>B. Kunci Stang</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/sebelum/sebelum2.png">
                <p>
                  Mudah namun sering lupa ketika parkir yaitu mengunci stang motor setelah berkendara. Akan menjadi sasaran mudah untuk dieksekusi bagi para maling ketika melihat kondisi stang motor tidak terkunci. Kuncilah stang setiap anda selesai berkendara, baik berada di parkiran atau di rumah anda sendiri. 
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>C. Tempel Stiker/Tanda “Pengenal”</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/sebelum/sebelum3.png">
                <p>
                  Ada baiknya motor anda dipasang stiker pengenal yang berbeda dari motor yang lainnya. Hal ini untuk memudahkan pencarian seandainya motor anda hilang. Selain untuk memudahkan pencarian, tempelan stiker pengenal ini akan membuat para maling berpikir ulang untuk mencurinya.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>D. Pasang Alarm</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/sebelum/sebelum4.png">
                <p>
                  Pasang alarm anti maling sebagai opsi tambahan mengamankan motor dari maling. Pastikan anda memilih alarm anti maling yang tidak menghilangkan garansi kelistrikan motor.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>E. Asuransikan Motor Anda</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/sebelum/sebelum5.png">
                <p>
                  Untuk asuransi motor ini sebenarnya bukan tips agar motor tidak mudah dicuri akan tetapi bertujuan untuk antisipasi supaya kerugian kehilangan motor dapat tergantikan. Apabila anda melakukan pembelian secara kredit biasanya sudah termasuk asuransi dari pihak leasingnya, berbeda dengan anda yang melakukan pembelian secara tunai. Pilihlah asuransi yang mudah proses klaimnya serta harganya yang terjangkau.
                </p>
              </div>
            </ion-item><!-- /item -->
          </ion-list><!-- /list -->
        </div><!-- /list-card -->
      </div>
      <div class="card">
        <div class="item item-divider">
          Setelah Terjadi Kehilangan
        </div>
        <div class="list-card">
          <ion-list>
            <ion-item>
              <div class="item">
                <h2>A. Buka Aplikasi Lacak</h2>
                <h2>Kendaraan</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/setelah/setelah1.png">
                <p>
                  Aplikasi ini akan melacak atau menampilkan posisi kendaraan anda jika dipasangkan alat pelacak pada kendaraan anda.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>B. Lapor kantor polisi</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/setelah/setelah2.png">
                <p>
                  Segera lapor ke kantor polisi terdekat, agar segera di proses, dan semoga langsung dilakukan razia di wilayah tersebut.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>C. Lapor SAMSAT</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/setelah/setelah3.png">
                <p>
                  Blokir kendaraan anda di SAMSAT, dengan memblokir kendaraan pajak tahunan kendaraan yang seharusnya anda bayar tentu bukan kewajiban lagi, dan jika suatau saat kendaraan anda diperpanjang oleh seseorang dibawa ke SAMSAT kendaraan ini akan ditahan dan andalah pemilik sebenarnya.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>D. Urus Asuransi</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/setelah/setelah4.png">
                <p>
                  Jika masih ada asuransi/ ber-asuransi segera diurus.
                </p>
              </div>
            </ion-item><!-- /item -->
            <ion-item>
              <div class="item">
                <h2>E. Berdoa</h2>
              </div>
              <div class="item item-body">
                <img class="full-image" src="img/antisipasi/setelah/setelah5.png">
                <p>
                  Berdoa kepada Tuhan Yang Maha Kuasa agar kendaraan yang hilang dapat kembali dengan aman. Walaupun hilang dan tak kembali, ikhlaskan dan ambil hikmah
                  dari kejadian yang telah terjadi.
                </p>
              </div>
            </ion-item><!-- /item -->
            </ion-item>
          </ion-list>
        </div>
      </div>
  </ion-content>
</ion-view>
