
<ion-view view-title="Gempabumi Dirasakan">
  <ion-content>
    <div class="list card" ng-repeat="gd in dataGempa">
        <div class="item item-body item-icon-left">
          <!-- <i class="icon ion-alert-circled"></i> -->
          <h2>{{gd.Keterangan}}</h2>
        </div>
        <div class="item item-body">
          <pre>Waktu           : {{gd.Tanggal}}</pre>
          <pre>Lat & Long      : {{gd.point.coordinates}}</pre>
          <pre>Lintang & Bujur : {{gd.Posisi}}</pre>
          <pre>Magnitude       : {{gd.Magnitude}}</pre>
          <pre>Kedalaman       : {{gd.Kedalaman}}</pre>
          <pre>Dirasakan       : {{gd.Dirasakan}}</pre>
        </div>
      </div>
  </ion-content>
</ion-view>
