/* Empty. Add your own CSS if you like */
/* Utilities */

.link {
    color: #116262;
    font-weight: bold;
}

h4 {
    color: #116262;
    font-size: 22px;
    margin-bottom: 16px;
}

h4:first-child {
    border-top: none;
    padding-top: initial;
}

.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.no-border {
    border: none;
}

.static {
    position: static;
}

.bold {
    font-weight: bold;
}

.border-top {
    border-top: solid 1px #ccc;
    padding-top: 30px;
}

.blue-grey-900 {
    background-color: #263238 !important;
    color: #fff;
}
/* Menu */

.menu .bar.bar-header.expanded {
    background-image: url('../img/material-graphite.jpg');
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.ion-arrow-right-c.top-left:before {
    transform: rotate(-135deg);
}

.ion-arrow-right-c.top-right:before {
    transform: rotate(-45deg);
}

.ion-arrow-right-c.bottom-left:before {
    transform: rotate(-225deg);
}

.ion-arrow-right-c.bottom-right:before {
    transform: rotate(45deg);
}

#modal {
    background-color: #ef4e3a;
    border-radius: 100%;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 50%;
    bottom: 0;
    opacity: 0;
    width: 700px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.expand #modal {
    background-color: #DBDBDB;
    border-radius: 0;
    border-top: solid 4px #ef4e3a;
    opacity: 1;
    z-index: 9;
}
/* CORE */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 60px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 800px;
  transition: max-height 0.3s ease-out;
}


/* DEMO */
.item-expand-footer {
  color: blue;
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}
/*end item*/

/*animasi rollIn*/
.rollIn:nth-child(1){
  -webkit-animation-delay: 0.4s;
}

.rollIn:nth-child(2){
  -webkit-animation-delay: 0.8s;
}

.rollIn:nth-child(3){
  -webkit-animation-delay: 1.2s;
}

.rollIn:nth-child(4){
  -webkit-animation-delay: 1.6s;
}

.rollIn:nth-child(5){
  -webkit-animation-delay: 2.2s;
}

.rollIn:nth-child(6){
  -webkit-animation-delay: 2.6s;
}

.rollIn:nth-child(7){
  -webkit-animation-delay: 3s;
}

.rollIn:nth-child(8){
  -webkit-animation-delay: 3.4s;
}

.rollIn:nth-child(9){
  -webkit-animation-delay: 3.8s;
}

.rollIn:nth-child(10){
  -webkit-animation-delay: 4.2s;
}


.rollIn:nth-child(11){
  -webkit-animation-delay: 4.6s;
}

.rollIn:nth-child(12){
  -webkit-animation-delay: 5s;
}

/*.rollIn:nth-child(13){
  -webkit-animation-delay: 2.6s;
}*/


/*animasi jello*/
.jello:nth-child(1){
  -webkit-animation-delay: 0.1s;
}

.jello:nth-child(2){
  -webkit-animation-delay: 0.3s;
}

.jello:nth-child(3){
  -webkit-animation-delay: 0.5s;
}

.jello:nth-child(4){
  -webkit-animation-delay: 0.7s;
}

.jello:nth-child(5){
  -webkit-animation-delay: 0.9s;
}

.jello:nth-child(6){
  -webkit-animation-delay: 1.1s;
}

/*animasi zoomInDown*/
.zoomInDown:nth-child(1){
  -webkit-animation-delay: 0.2s;
}

.zoomInDown:nth-child(2){
  -webkit-animation-delay: 0.4s;
}

.zoomInDown:nth-child(3){
  -webkit-animation-delay: 0.6s;
}

.zoomInDown:nth-child(4){
  -webkit-animation-delay: 0.8s;
}

.zoomInDown:nth-child(5){
  -webkit-animation-delay: 1s;
}

.zoomInDown:nth-child(6){
  -webkit-animation-delay: 1.2s;
}

.zoomInDown:nth-child(7){
  -webkit-animation-delay: 1.4s;
}

.zoomInDown:nth-child(8){
  -webkit-animation-delay: 1.6s;
}

.zoomInDown:nth-child(9){
  -webkit-animation-delay: 1.8s;
}

.zoomInDown:nth-child(10){
  -webkit-animation-delay: 2s;
}

.zoomInDown:nth-child(11){
  -webkit-animation-delay: 2.2s;
}


.zoomInDown:nth-child(12){
  -webkit-animation-delay: 2.4s;
}

/*animasi tentang*/
.lightSpeedIn:nth-child(1){
  -webkit-animation-delay: 0.1s;
}

.lightSpeedIn:nth-child(2){
  -webkit-animation-delay: 0.5s;
}

/*.wobble:nth-child(3){
  -webkit-animation-delay: 1s;
}*/

.bounceIn:nth-child(3){
  -webkit-animation-delay: 1s;
}

.bounceIn:nth-child(4){
  -webkit-animation-delay: 1.3s;
}

.bounceIn:nth-child(5){
  -webkit-animation-delay: 1.6s;
}

.bounceIn:nth-child(6){
  -webkit-animation-delay: 1.9s;
}

.bounceIn:nth-child(7){
  -webkit-animation-delay: 2.1s;
}

.bounceIn:nth-child(8){
  -webkit-animation-delay: 2.4s;
}

/*.wobble:nth-child(9){
  -webkit-animation-delay: 2.9s;
}*/

.bounceIn:nth-child(9){
  -webkit-animation-delay: 2.9s;
}

.bounceIn:nth-child(10){
  -webkit-animation-delay: 3.2s;
}

.bounceIn:nth-child(11){
  -webkit-animation-delay: 3.5s;
}

.bounceIn:nth-child(12){
  -webkit-animation-delay: 3.8s;
}

.a{
    height: 50px;
}
